.collections
    {
        justify-content: space-around;
        align-items: center;
        display: flex;
        width: 70%;
        background: rgba(65, 55, 55, 0.651);
        color: wheat;
        border-bottom: 1px solid white;
         box-sizing: border-box;
         margin: 10px;
        animation: tires 1s ease-in-out;
        overflow-y: hidden;
        overflow-x: hidden;

        @media (width < 800px) {
            width: 100%;
            background-color: rgb(255, 238, 238);
            color: black;
            align-items: self-start;
            border-bottom: 1px solid rgb(255, 252, 252);
        }

      
        }
        .review{
            padding: 9px 40px;
            background: rgb(29, 4, 4);

        color: white;
        font-weight: bold;
        font-style: oblique;
        }
.timages{
    width: 100px;
    height: 100px;
}
h5{
    font-weight: 900;
    font-size: 19px;
    color: black;
}
.image{
    border-right: 2px solid white;
    width: 30%;
    @media (width < 800px) {
       
        border-right: 1px solid rgb(0, 0, 0);
    }
}
.addbutton{
    padding: 5px 20px;
    background-color: brown;
    border: none;
}

@keyframes tires {
    from{
        opacity: 0;transform: translateY(2rem);}
        to{
        opacity: 3; transform: translateY(0);}

}

