.display{
    
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;

    @media (width < 800px) {
        width: 0;
        margin: 20px;
    }



}
.labels{
    font-size: 23px;
    font-weight: 600;
    color: black;
    font-family: cursive;
}

.submitbutton{
    margin-top: 10vh;
    padding: 17px 25px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    font-family: fantasy;
}